@import "./../../sass/variables";
:host {
  ::ng-deep {
    .filter {
      margin: 1rem 0 0;
      width: 100%;
      .mat-mdc-text-field-wrapper {
        padding: 0;
      }
      .mat-mdc-form-field-subscript-wrapper {
        box-sizing: border-box;
        display: none;
      }
      .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
          .mdc-text-field--textarea
        )
        .mat-mdc-form-field-infix {
        padding: 0;
      }
      .mdc-line-ripple {
        display: none;
      }
      &__select {
        box-sizing: border-box;
        border: 2px solid $border-forms;
        border-radius: $box-border-radius;
        padding: rem(16px);
      }
    }
  }
}
