@import "./../../sass/variables";
:host {
  ::ng-deep {
    .item {
      label {
        color: $green__plantation;
        font-size: rem(12px);
        font-weight: 700;
      }

      &__icon {
        color: red;
        cursor: pointer;
        position: absolute;
        right: rem(-30px);
        top: 50%;
        transform: translateY(-50%);
      }
      .mat-mdc-checkbox.mat-accent
        .mdc-checkbox--selected
        ~ .mdc-checkbox__ripple {
        background: $bg-checkbox;
      }
      .mat-mdc-checkbox-checked {
        .mdc-checkbox__background {
          background-color: $bg-checkbox !important;
          border-color: $bg-checkbox !important;
          svg path {
            fill: $bg-checkbox;
          }
        }
      }
    }
  }
}
