@import "./../../sass/variables";
@import "./../../sass/layout";

.header {
  align-items: center;
  background-color: $bg-header;
  display: flex;
  height: calc($spacer * 4);
  justify-content: center;

  @media screen and (min-width: $screenS) {
    align-items: flex-end;
    background-color: $bg-headerM;
    border-radius: 0 calc($spacer * 5) calc($spacer * 5) 0;
    box-sizing: content-box;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: rem(64px);
    padding: rem(32px) rem(32px);
    transform: translateX(-50%);
    width: 100%;
  }
}

.logo {
  width: 85px;

  @media screen and (min-width: $screenS) {
    width: 150px;
  }
}
