@import "./sass/variables";
@import "./sass/layout";
*:not(mat-icon) {
  font-family: $font-primary;
}
.iris {
  &__app {
    background-color: $white__wild-sand;
  }

  &__body {
    padding: rem(28px);
  }
}

h1 {
  color: $green__plantation;
  font-size: rem(32px);
  font-weight: 600;
  margin-bottom: 0;
}
